<div class=container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="well">
        <% if @tasks.with_report.count > 0 %>
          <tbody>
              <% @tasks.with_report.each do |task| %>
                <td><%= task.name%></td>
                <td><%= task.task_report%></td>
              <% end %>
          </tbody>
        <%else%>
            <d>Não há atividades com relatórios individuais para gerar um relatório final</d>
        <% end %>
      </div>
    </div>
  </div>
</div>