<!DOCTYPE html>
<html>
	<head>
		<title>Edique</title>
		<%= csrf_meta_tags %>

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		      rel="stylesheet">

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>

		<nav class="navbar navbar-warning">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Ediquê</a>
				</div>
			</div>
		</nav>

		<%= yield %>
	</body>
</html>
